:host{
    display: block;
    z-index: 3;
}
mat-toolbar{
    display: flex;
    justify-content:space-between;
}
.user-info{
    display: flex;
    align-items:center;
}
span {
    margin-right: 0.5rem;      
}
mat-icon{
    transform: scale(1.4);
}
mat-toolbar{
    background: linear-gradient(to right, rgb(3, 183, 189),rgb(82, 169, 219),rgb(36, 36, 228));
}
